In [3]:
import pandas as pd

In [12]:
data=pd.read_csv("https://raw.githubusercontent.com/sochetan30/data_for_practice/main/gemstone.csv")

In [13]:
data.head(2)

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387

### **Introduction About the Data :** 
The dataset The goal is to predict price of given diamond (Regression Analysis).

There are 10 independent variables (including id):

id : unique identifier of each diamond

carat : Carat (ct.) refers to the unique unit of weight measurement used exclusively to weigh gemstones and diamonds.

cut : Quality of Diamond Cut

color : Color of Diamond

clarity : Diamond clarity is a measure of the purity and rarity of the stone, graded by the visibility of these characteristics under 10-power magnification.

depth : The depth of diamond is its height (in millimeters) measured from the culet (bottom tip) to the table (flat, top surface)

table : A diamond's table is the facet which can be seen when the stone is viewed face up.

x : Diamond X dimension

y : Diamond Y dimension

x : Diamond Z dimension

Target variable:

price: Price of the given Diamond.

In [16]:
data.sample(10)

,id,carat,cut,color,clarity,depth,table,x,y,z,price
73167,73167,0.41,Ideal,G,SI1,62.7,55.0,4.79,4.73,2.98,1015
124980,124980,1.52,Premium,I,SI1,60.8,60.0,7.46,7.42,4.52,8256
114125,114125,1.52,Ideal,G,VS1,62.2,56.0,7.38,7.34,4.58,14359
48715,48715,0.32,Premium,G,VS1,60.1,58.0,4.45,4.50,2.68,696
98319,98319,1.01,Very Good,G,SI1,61.4,60.0,6.36,6.46,3.94,5131
109506,109506,0.30,Ideal,E,VS2,62.5,57.0,4.26,4.29,2.67,844
111158,111158,0.74,Ideal,G,VS1,61.9,55.0,5.82,5.80,3.60,3162
22544,22544,1.50,Premium,H,VS1,61.0,58.0,7.32,7.30,4.46,11068
100428,100428,1.01,Good,F,VS2,59.4,60.0,6.51,6.53,3.88,6425
182166,182166,1.00,Very Good,G,SI2,63.2,58.0,6.31,6.34,3.99,3975

In [17]:
#Check NUll Values
data.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [19]:
data.shape, data.size

((193573, 11), 2129303)

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       193573 non-null  int64
 1   carat    193573 non-null  float64
 2   cut      193573 non-null  object
 3   color    193573 non-null  object
 4   clarity  193573 non-null  object
 5   depth    193573 non-null  float64
 6   table    193573 non-null  float64
 7   x        193573 non-null  float64
 8   y        193573 non-null  float64
 9   z        193573 non-null  float64
 10  price    193573 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 16.2+ MB

In [21]:
data.columns

Index(['id', 'carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y',
       'z', 'price'],
      dtype='object')

In [24]:
# Drop ID column
data.drop(labels=["id"],axis=1,inplace=True)

In [25]:
data.head()

   carat        cut color clarity  depth  table     x     y     z  price
0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [28]:
# Check duplicate for redundancy in data to handle bias
data[data.duplicated()]

Empty DataFrame
Columns: [carat, cut, color, clarity, depth, table, x, y, z, price]
Index: []

In [29]:
data.duplicated().sum()

0

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 10 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   carat    193573 non-null  float64
 1   cut      193573 non-null  object
 2   color    193573 non-null  object
 3   clarity  193573 non-null  object
 4   depth    193573 non-null  float64
 5   table    193573 non-null  float64
 6   x        193573 non-null  float64
 7   y        193573 non-null  float64
 8   z        193573 non-null  float64
 9   price    193573 non-null  int64
dtypes: float64(6), int64(1), object(3)
memory usage: 14.8+ MB

In [33]:
# Segregate the features:

# Get categorical feature
cat_columns=data.columns[data.dtypes=='object']

In [34]:
# Get numerical columns
num_columns=data.columns[data.dtypes!="object"]

In [36]:
data[num_columns].head()

   carat  depth  table     x     y     z  price
0   1.52   62.2   58.0  7.27  7.33  4.55  13619
1   2.03   62.0   58.0  8.06  8.12  5.05  13387
2   0.70   61.2   57.0  5.69  5.73  3.50   2772
3   0.32   61.6   56.0  4.38  4.41  2.71    666
4   1.70   62.6   59.0  7.65  7.61  4.77  14453

In [37]:
data[num_columns].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   carat   193573 non-null  float64
 1   depth   193573 non-null  float64
 2   table   193573 non-null  float64
 3   x       193573 non-null  float64
 4   y       193573 non-null  float64
 5   z       193573 non-null  float64
 6   price   193573 non-null  int64
dtypes: float64(6), int64(1)
memory usage: 10.3 MB

In [39]:
data[cat_columns].head()

         cut color clarity
0    Premium     F     VS2
1  Very Good     J     SI2
2      Ideal     G     VS1
3      Ideal     G     VS1
4    Premium     G     VS2

In [40]:
data[cat_columns].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   cut      193573 non-null  object
 1   color    193573 non-null  object
 2   clarity  193573 non-null  object
dtypes: object(3)
memory usage: 4.4+ MB